@if (EpiAlerts == null) {
    <p>Loading...</p>
}
else {
    <div class="container">
        <h4 class="text-center">Quantidade de Alertas gerados por Equipamento</h4>
        <Chart Config="_config1" @ref="_chart1"></Chart>
    </div>
}
@code {
    [Parameter]
    public List<AlertsEpiViewModel>? EpiAlerts { get; set; }

    private BarChartConfig _config1;
    private Chart _chart1;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();

        _config1 = new BarChartConfig() {
                Options = new Options() {
                    Plugins = new Plugins() {
                        Legend = new Legend() {
                            Align = Align.Center,
                            Display = false,
                            Position = LegendPosition.Right
                        }
                    },
                    Scales = new Dictionary<string, Axis>()
                                    {
            {
                Scales.XAxisId, new Axis()
                {
                    Stacked = true,
                    Ticks = new Ticks()
                    {
                        MaxRotation = 0,
                        MinRotation = 0
                    }
                }
            },
            {
                Scales.YAxisId, new Axis()
                {
                    Stacked = true
                }
            }
        }
                }
            };
        _config1.Data.Labels = GetChartLabels(EpiAlerts);
        _config1.Data.Datasets.Add(new BarDataset() {
                Label = "Value",
                Data = GetDataSets(EpiAlerts),
                BackgroundColor = new List<string> {
        "#336699",
        "#9966CC",
        "#FF6699",
        // Adicione mais cores conforme necessário
    }
            });
    }

    private List<string> GetChartLabels(List<AlertsEpiViewModel> departmentAlerts) {
        var chartLabels = new List<string>();
        foreach (var departmentAlert in departmentAlerts) {
            chartLabels.Add(departmentAlert.EpiName);
        }
        return chartLabels;
    }
    private List<decimal?> GetDataSets(List<AlertsEpiViewModel> departmentAlerts) {
        var datSets = new List<decimal?>();
        foreach (var departmentAlert in departmentAlerts) {
            datSets.Add(departmentAlert.AlertCount);
        }
        return datSets;
    }
}
