@page "/reports"
@using PSC.Blazor.Components.Chartjs
@inject DepartmentService departmentService;
@inject ReportService reportService;



<h3>Relatórios</h3>

@if (departmentAlerts != null) {
    <DepartmentAlertsChart departmentAlerts="departmentAlerts"/>
} else {
    <p>Loading...</p>
}
@if (alertsEpis != null) {
    <AlertsEpiChart EpiAlerts="alertsEpis"/>
} else {
    <p>Loading...</p>
}

@code {
    private List<DepartmentAlertsViewModel> departmentAlerts;
    private List<AlertsEpiViewModel> alertsEpis;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        departmentAlerts = await departmentService.GetDepartmentAlertsAsync();
        alertsEpis = await reportService.GetAlertsEpis();
    }
}
