@page "/reports"
@using PSC.Blazor.Components.Chartjs
@inject DepartmentService departmentService;
@inject ReportService reportService;



<h3>Relatórios</h3>


@if (departmentAlerts != null) {
    <WorkshiftAlertsChart WorkshiftAlerts="workshiftAlerts" />
} else {
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@if (departmentAlerts != null) {
    <DepartmentAlertsChart departmentAlerts="departmentAlerts"/>
} else {
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@if (alertsEpis != null) {
    <AlertsEpiChart EpiAlerts="alertsEpis"/>
} else {
    <div class="text-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}

@code {
    private List<DepartmentAlertsViewModel> departmentAlerts;
    private List<AlertsEpiViewModel> alertsEpis;
    private List<WorkshiftAlertsViewModel> workshiftAlerts;

    protected override async Task OnInitializedAsync() {
        await base.OnInitializedAsync();
        departmentAlerts = await departmentService.GetDepartmentAlertsAsync();
        alertsEpis = await reportService.GetAlertsEpis();
        workshiftAlerts = await reportService.GetWorkshiftAlerts();
    }
}
